<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1 style="font-family: 'Times New Roman'">Hello, {{name}}!</h1>
    <p style="font-family: 'Times New Roman'">Today's technology headlines are...</p>
    <ol>
        <li style="font-family: 'Times New Roman'">{{title[0]}}</li>
        <li style="font-family: 'Times New Roman'">{{title[1]}}</li>
        <li style="font-family: 'Times New Roman'">{{title[2]}}</li>
        <li style="font-family: 'Times New Roman'">{{title[3]}}</li>
        <li style="font-family: 'Times New Roman'">{{title[4]}}</li>
      </ol> 
</body>
</html>