<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1 style="font-family: 'Times New Roman'">Hello, {{name}}!</h1>
    <p style="font-family: 'Times New Roman'">Today's technology headlines are...</p>
    <ol>
        <li style="font-family: 'Times New Roman'"><a href='{{link[0]}}'>{{title[0]}}</a></li>
        <li style="font-family: 'Times New Roman'"><a href='{{link[1]}}'>{{title[1]}}</a></li>
        <li style="font-family: 'Times New Roman'"><a href='{{link[2]}}'>{{title[2]}}</a></li>
        <li style="font-family: 'Times New Roman'"><a href='{{link[3]}}'>{{title[3]}}</a></li>
        <li style="font-family: 'Times New Roman'"><a href='{{link[4]}}'>{{title[4]}}</a></li>
      </ol> 
</body>
</html>